.featured {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.featuredItem {
  flex: 1;
  margin: 0rem 1.25rem;
  padding: 1.875rem;
  border-radius: 0.625rem;
  cursor: pointer;
  box-shadow: 5px 5px 19px #bfbfbf, -5px -5px 19px #ffffff;
}

.featuredTitle {
  font-size: 1.25rem;
}

.featuredMoneyContainer {
  margin: 0.625rem 0rem;
  display: flex;
  align-items: center;
}

.featuredMoney {
  font-size: 30px;
  font-weight: 600;
}

.featuredMoneyRate {
  display: flex;
  align-items: center;
  margin-left: 1.25rem;
}

.featuredIcon {
  font-size: 0.875rem;
  margin-left: 0.313rem;
  color: green;
}

featuredIcon.nagative {
  color: red;
}
